option_settings:
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /api/health
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"
  aws:autoscaling:launchconfiguration:
    DisableIMDSv1: true
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
